---
layout: base.njk
---

<header class="tdbc-hero tdbc-background--texture tdbc-background--primary">
  <div class="tdbc-content-maxlength">
    <h1>{{ meta.siteName }}</h1>
    <p class="tdbc-lead">
      A collection of Eleventy (11ty) starters, projects, plugins, and resources created by Stephanie&nbsp;Eckles (<a
        href="https://twitter.com/5t3ph"
        >@5t3ph</a
      >)
    </p>
  </div>
</header>
<aside aria-label="Intro to Eleventy (11ty)" class="tdbc-content-maxlength tdbc-mx-auto">
  {{ content | safe }}
</aside>
<main id="main" tabindex="-1" class="tdbc-container tdbc-mx-auto">
  <div class="tdbc-column-container tdbc-mt">
    {%- for post in collections.posts | head(-1) %}
    <article id="{{ post.data.title | slug }}" class="tdbc-card tdbc-background--light tdbc-background--texture tdbc-mx-auto tdbc-latest">
      <div class="tdbc-card__content">
        <h2>{{ post.data.title }}</h2>
        <small class="tdbc-meta">{{ post.templateContent | emojiReadTime }} • <em>Posted on</em>: {{ post.date | postDate }}</small>
        {%- if post.data.description %}
        <p>{{ post.data.description }}</p>
        {%- else %}
        <p>{{ post.templateContent | excerpt }}</p>
        {% endif -%}
        <span class="tdbc-row tdbc-row--links">
        <a href="{{ post.url }}" class="tdbc-button tdbc-button--text">Read Post</a>
        <a href="/posts/">View Post Archive</a>
        </span>
      </div>
    </article>
    {% endfor -%}
    {%- for resource in collections.orderedLinks %}
    <article id="{{ resource.data.title | slug }}" class="tdbc-card tdbc-background--texture">
      <div class="tdbc-card__content">
        <span class="tdbc-article__icon" aria-hidden="true">{{ resource.data.icon }}</span>
        <h2>{{ resource.data.title | safe }}</h2>
        {{ resource.templateContent | safe }}
        <a href="{{ resource.data.link }}" class="tdbc-button tdbc-button--text">{{ resource.data.linkText }}</a>
      </div>
    </article>
    {% endfor -%}
  </div>
  <div class="tdbc-content-maxlength tdbc-mx-auto">
    <h2 id="resources" class="tdbc-text-center tdbc-mt-vh">Resources</h2>
    <p class="tdbc-lead tdbc-text-center">Starters, plugins, and externally hosted articles and tutorials</p>
    <div class="tdbc-video"><iframe title="YouTube video: Build an 11ty Site in 3 Minutes" src="https://www.youtube-nocookie.com/embed/BKdQEXqfFA0?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
  </div>
  <div class="tdbc-column-container tdbc-mt">
    {%- for resource in collections.orderedResources %}
    <article id="{{ resource.data.title | slug }}" class="tdbc-card tdbc-background--texture">
      <div class="tdbc-card__content">
        <span class="tdbc-article__icon" aria-hidden="true">{{ resource.data.icon }}</span>
        <h2>{{ resource.data.title | safe }}</h2>
        {{ resource.templateContent | safe }}
        <a href="{{ resource.data.link }}" class="tdbc-button tdbc-button--text">{{ resource.data.linkText }}</a>
      </div>
    </article>
    {% endfor -%}
  </div>
</main>
{% include 'webring.njk' %}
