---
layout: base.njk
---

<header class="tdbc-hero tdbc-background--texture tdbc-background--primary">
  <div class="tdbc-content-maxlength">
    <h1>{{ meta.siteName }}</h1>
    <p class="tdbc-lead">
      A collection of Eleventy (11ty) starters, projects, plugins, and resources created by Stephanie&nbsp;Eckles (<a
        href="https://twitter.com/5t3ph"
        >@5t3ph</a
      >)
    </p>
  </div>
</header>
<aside class="tdbc-content-maxlength tdbc-mx-auto">
  {{ content | safe }}
</aside>
<main class="tdbc-container tdbc-mx-auto">
  <div class="tdbc-column-container">
    {%- for resource in collections.resources %}
    <article id="{{ resource.data.title | slug }}" class="tdbc-card tdbc-background--texture">
      <div class="tdbc-card__content">
        <span class="tdbc-article__icon">{{ resource.data.icon }}</span>
        <h2>{{ resource.data.title }}</h2>
        {{ resource.templateContent | safe }}
        <a href="{{ resource.data.link }}" class="tdbc-button tdbc-button--text">{{ resource.data.linkText }}</a>
      </div>
    </article>
    {% endfor -%}
  </div>
</main>
<eleventy-webring current="11ty.Rocks" random="true" class="tdbc-content-maxlength tdbc-mx-auto"></eleventy-webring>
<script type="module" src="/js/eleventy-webring.js"></script>
