---
layout: base.njk
---
{% include 'sitenav.njk' %}
{% set dateLabel %}{% if updatedOn %}Updated on{% else %}Posted on{% endif %}{% endset %}
{% set dateValue %}{% if updatedOn %}{{ updatedOn | postDate }}{% else %}{{ page.date | postDate }}{% endif %}{% endset %}
<header class="tdbc-hero tdbc-background--texture tdbc-background--primary">
  <div class="tdbc-content-maxlength">
    <h1>{{ title }}</h1>
    <small class="tdbc-meta">
    <em>{{ dateLabel }}</em>: {{ dateValue }} <em>by</em> Stephanie Eckles<br>{{ content | emojiReadTime }}</small>
    {%- if description %}
    <p class="tdbc-lead tdbc-text-align--left">{{ description }}</p>
    {% endif -%}
  </div>
</header>
<main id="main" tabindex="-1" class="tdbc-container">
  <article class="tdbc-mx-auto">
    {{ content | safe }}
  </article>

  {% if tags | hasTag('eleventyjs') %}
  <a href="/eleventyjs/" class="tdbc-button tdbc-button--text tdbc-mx-auto tdbc-mt">View more config samples</a>
  {% endif %}

  {% if tags | hasTag('tips') %}
  <a href="/tips/" class="tdbc-button tdbc-button--text tdbc-mx-auto tdbc-mt">View more quick tips</a>
  {% endif %}
</main>
