<nav aria-labelledby="tdbc-siteid" class="tdbc-sitenav">
  <div class="tdbc-sitenav__container">
    <span class="tdbc-text-center">
      <a id="tdbc-siteid" href="/">{{ meta.siteName }}</a>
    </span>
    <ul class="tdbc-sitenav__navlist tdbc-list-unstyled">
      <li>
        <a href="/#resources">Resources</a>
      </li>
      <li>
        <a href="{{ '/posts/' | url }}">Posts</a>
      </li>
      <li>
        <a href="{{ '/eleventyjs/' | url }}">Config Samples</a>
      </li>
      <li>
        <a href="{{ '/tips/' | url }}">Quick Tips</a>
      </li>
    </ul>
  </div>
</nav>
