<nav aria-labelledby="tdbc-siteid" class="tdbc-sitenav">
  <div class="tdbc-sitenav__container">
    <a id="tdbc-siteid" href="/">{{ meta.siteName }}</a>
    <ul class="tdbc-sitenav__navlist tdbc-list-unstyled">
      <li>
        <a href="/#resources">Resources</a>
      </li>
      <li>
        <a href="{{ '/posts/' | url }}">Posts</a>
      </li>
    </ul>
  </div>
</nav>
