{% set currentUrl = page.url %}
{% set navLinks = [
  {
    "url": "/#resources",
    "title": "Resources"
  },
  {
    "url": "/posts/",
    "title": "Posts"
  },
  {
    "url": "/tips/",
    "title": "Quick Tips"
  },
  {
    "url": "/eleventyjs/",
    "title": "Config Samples"
  },
  {
    "url": "/community/",
    "title": "Community"
  }
] %}
<nav aria-labelledby="tdbc-siteid" class="tdbc-sitenav">
  <div class="tdbc-sitenav__container">
    <span class="tdbc-text-center">
      <a id="tdbc-siteid" href="/">{{ meta.siteName }}</a>
    </span>
    <ul class="tdbc-sitenav__navlist tdbc-list-unstyled">
      {% for link in navLinks %}
        <li>
          <a
            {% if currentUrl === link.url %}aria-current="page"{% endif %}
            href="{{ link.url }}">
              {{ link.title }}
          </a>
        </li>
      {%- endfor %}
    </ul>
  </div>
</nav>
