@use "sass:math";

.tdbc-button {
  display: inline-flex;
  align-items: center;
  align-self: start;
  justify-content: center;
  min-width: 10ch;
  min-height: 44px;
  padding: 0.25em 1em;
  transition: 180ms ease-in-out;
  transition-property: background, border;
  border: none;
  border-radius: math.div($tdbc-border-radius, 2);
  background-color: tdbc-color("primary");
  color: tdbc-color(text);
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentColor;
  }

  &:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 1px rgba(#fff, 0.3), 0 0 0 3px scale-color(tdbc-color("primary"), $lightness: -30%);
  }

  // stylelint-disable max-nesting-depth
  @each $key in $tdbc-button-variants {
    $color: tdbc-color($key);

    @if ($key != "primary") {
      &--#{$key} {
        background-color: $color;

        @if ($key == "text") {
          color: tdbc-color("light");
        }

        &:focus {
          box-shadow: 0 0 0 0.05em currentColor, 0 0 0 3px scale-color($color, $lightness: -30%);
        }
      }
    }
  }
  // stylelint-enable

  &--small {
    min-height: 34px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.03em;
  }

  &__icon {
    width: 1.15em;
    margin-right: 0.5em;

    svg {
      display: block;
      width: 100%;
      fill: currentColor;
    }
  }
}

.tdbc-icon-button {
  display: inline-flex;
  position: relative;
  width: 1em;
  height: 1em;
  padding: 0;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;

  // stylelint-disable-next-line selector-max-type
  svg {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    fill: currentColor;
    opacity: 0.7;
  }

  &:focus,
  &:hover {
    outline: 2px solid transparent;

    // stylelint-disable-next-line selector-max-type
    svg {
      opacity: 1;
    }
  }

  &:focus {
    &::after {
      position: absolute;
      top: -0.3em;
      right: -0.3em;
      bottom: -0.3em;
      left: -0.3em;
      border: 2px solid currentColor;
      border-radius: 50%;
      opacity: 0.7;
      content: "";
    }
  }
}
