.tdbc-card {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  border-radius: $tdbc-border-radius;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);

  &__content {
    max-width: 60ch;
    padding: 2rem;

    .tdbc-button {
      align-self: start;
      margin-top: auto;
    }

    // stylelint-disable selector-max-type
    p,
    ul {
      margin: 0 0 1rem;
    }

    p,
    li {
      font-weight: 500;
    }

    > ul {
      list-style-type: disc;
      padding-left: 1.5rem;

      li + li {
        margin-top: 0.5rem;
      }
    }
    // stylelint-enable
  }

  $bg-length: length($tdbc-background-colors);

  @each $key in $tdbc-background-colors {
    $index: index(
      $list: $tdbc-background-colors,
      $value: $key,
    );

    &:nth-of-type(#{$bg-length}n + #{$index}) {
      &,
      h2,
      p,
      ul {
        background-color: tdbc-color($key);
      }
    }
  }
}
