/* stylelint-disable */
/* arbutus-slab-regular - latin */
@font-face {
  font-family: "Arbutus Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Arbutus Slab Regular"), local("ArbutusSlab-Regular"),
    url("../fonts/arbutus-slab-v9-latin-regular.woff2") format("woff2");
  font-display: swap;
}
