@use "./theme" as *;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: tdbc-color("background");
  color: $tdbc-color-body;
  font-family: $tdbc-font-family;
}

main.tdbc-container {
  padding-top: 10vh;
  padding-bottom: 10vh;

  &:focus {
    outline: none;
  }
}

footer {
  margin-top: auto;
}

.tdbc-layout--community {
  h2 {
    font-size: 1.65rem;
  }
}

article {
  max-width: 80ch;

  > img {
    margin-right: auto;
    margin-left: auto;
  }

  + h2 {
    margin-top: 10vh;
  }

  &:target {
    box-shadow: 0 0 0 3px tdbc-color("text");

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding: 0.15em;
      border-bottom: 1px dotted tdbc-color("text");
      border-radius: $tdbc-border-radius $tdbc-border-radius 0 0;
      background-color: rgb(tdbc-color("text"), 0.15);
      font-style: italic;
      font-weight: bold;
      text-align: center;
      content: "It's me you're looking for...";
    }
  }

  &:not(.tdbc-card) * + h2 {
    margin-top: 3rem;
  }
}

aside {
  margin-top: 10vh;
  padding-right: 1rem;
  padding-left: 1rem;
}

hr {
  height: 2px;
  margin-top: 4rem;
  margin-bottom: 2rem;
  border: none;
  background-color: tdbc-color("secondary");
}

.tdbc-posts article + article {
  margin-top: 5vh;
}

.tdbc-article__icon {
  display: block;
  font-size: 4rem;
  text-align: center;
}

.tdbc-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 160ch;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

.tdbc-column-container {
  display: grid;
  align-items: start;
  grid-gap: 3.5rem;
  grid-template-columns: repeat(auto-fill, minmax(36ch, 1fr));
}

.tdbc-hero {
  display: grid;
  min-height: 40vh;
  place-content: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  text-align: center;

  > * {
    padding: 1rem;
    background-color: tdbc-color(primary);

    :last-child {
      margin-bottom: 0;
    }
  }
}

.tdbc-row {
  display: grid;
  grid-gap: 1rem;

  @media (min-width: 80ch) {
    grid-auto-flow: column;
    grid-auto-columns: max-content;
  }

  &--center-content {
    justify-items: center;
  }

  &--links {
    align-items: center;

    > a {
      justify-self: start;
    }
  }
}

.tdbc-video {
  position: relative;
  height: 0;
  margin-bottom: 2rem;
  padding-bottom: 56.25%;
  border-radius: 7px;
  box-shadow: 0 3px 8px rgb(black, 0.27);
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.tdbc-skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background-color: tdbc-color("text");
  color: #fff !important;
  font-size: 1.125rem;
  overflow: hidden;

  &:focus {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 0.5em;
  }
}

.tdbc-latest {
  position: relative;
  padding-top: 2em;
  padding-bottom: 1.5em;
  overflow: hidden;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.15em 3em;
    transform: rotate(-33deg) translateX(-2.5em);
    background-color: tdbc-color("primary");
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    content: "Latest Post";
  }
}

eleventy-webring {
  --eleventywr-link-color: #{$tdbc-link-color};

  padding-bottom: 10vh;
}

::selection {
  background-color: #fff;
  color: #000;
}

.inclusively-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

[role="note"] {
  margin: 8vh 0;
  padding: 2rem;
  border: 2px dashed tdbc-color("secondary");

  > :last-child {
    margin-bottom: 0;
  }
}
