// stylelint-disable-next-line selector-max-type
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: tdbc-color("background");
  color: $tdbc-color-body;
  font-family: $tdbc-font-family;
}

// stylelint-disable selector-max-type, selector-no-qualifying-type
main.tdbc-container {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

footer {
  margin-top: auto;
}

article {
  max-width: 80ch;

  > img {
    margin-right: auto;
    margin-left: auto;
  }

  &:target {
    box-shadow: 0 0 0 3px tdbc-color("text");

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      padding: 0.15em;
      border-bottom: 1px dotted tdbc-color("text");
      border-radius: $tdbc-border-radius $tdbc-border-radius 0 0;
      background-color: rgba(tdbc-color("text"), 0.15);
      font-style: italic;
      font-weight: bold;
      text-align: center;
      content: "It's me you're looking for...";
    }
  }
}

aside {
  margin-top: 10vh;
  padding-right: 1rem;
  padding-left: 1rem;
}
// stylelint-enable

.tdbc-article__icon {
  display: block;
  font-size: 4rem;
  text-align: center;
}

.tdbc-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 160ch;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

.tdbc-column-container {
  display: grid;
  align-items: start;
  grid-gap: 3.5rem;
  grid-template-columns: repeat(auto-fit, minmax(35ch, 1fr));
}

.tdbc-hero {
  display: grid;
  min-height: 40vh;
  place-content: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  text-align: center;

  // stylelint-disable selector-max-universal
  > * {
    padding: 1rem;
    background-color: tdbc-color(primary);

    :last-child {
      margin-bottom: 0;
    }
  }
}

.tdbc-row {
  display: grid;
  grid-gap: 1rem;

  @media (min-width: 80ch) {
    grid-auto-flow: column;
    grid-auto-columns: max-content;
  }

  &--center-content {
    justify-items: center;
  }
}

.tdbc-video {
  position: relative;
  height: 0;
  margin-bottom: 2rem;
  padding-bottom: 56.25%;
  border-radius: 7px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.27);
  overflow: hidden;

  // stylelint-disable-next-line
  iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// stylelint-disable
eleventy-webring {
  --eleventywr-link-color: #{$tdbc-link-color};

  padding-bottom: 10vh;
}
