// stylelint-disable-next-line selector-max-id, selector-max-specificity
#tdbc-siteid {
  font-size: tdbc-type-size(h3);
}

// stylelint-disable selector-max-type, function-name-case
.tdbc-sitenav {
  background-color: tdbc-color("primary");

  &__container,
  &__navlist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__container {
    --tdbc-multiplier: calc((40rem - 100%) * 666);

    width: 100%;
    max-width: 120ch;
    margin: 0 auto;
    padding: 0.25rem 1rem;

    &::before {
      flex-basis: var(--tdbc-multiplier);
      flex-grow: 666;
      height: 2rem;
      content: "";
    }

    > * {
      flex-grow: 1;

      &:first-child {
        order: -1;
      }
    }
  }

  &__navlist {
    gap: 1rem;

    li a {
      margin: 0 0.5rem;
      // stylelint-disable-next-line
      font-size: clamp(0.9rem, 4vw, 1.15rem);
    }

    [aria-current] {
      font-weight: $tdbc-strong-font-weight;
    }
  }

  &,
  a:not(.tdbc-button) {
    color: tdbc-color("text");
    text-underline-offset: 0.1em;
    text-decoration-color: rgba(tdbc-color("text"), 0.6);
  }
}
// stylelint-enable
