$tdbc-color-primary: #5ce1e6 !default;
$tdbc-color-secondary: #dc66d4 !default;
$tdbc-color-support: #ef8443 !default;
$tdbc-color-background: mix($tdbc-color-primary, #fff, 40%);

$tdbc-brand-colors: (
  "primary": $tdbc-color-primary,
  "secondary": $tdbc-color-secondary,
  "support": $tdbc-color-support,
) !default;

$tdbc-color-body: scale-color($tdbc-color-primary, $lightness: -80%, $saturation: -20%) !default;
$tdbc-color-gray: mix(#767676, $tdbc-color-body, 70%) !default;

$tdbc-colors: map-merge(
  $tdbc-brand-colors,
  (
    "text": $tdbc-color-body,
    "background": $tdbc-color-background,
    "light": #fff,
    "dark": rgb(black, 0.87),
    "gray": $tdbc-color-gray,
  )
);

@function tdbc-color($key) {
  @return map-get($tdbc-colors, $key);
}

// Add/remove to selectively generate `ink` (text color) classes
$tdbc-ink-colors: "text" !default;

// Add/remove to selectively generate `background` classes
$tdbc-background-colors: "secondary", "primary", "support", "light" !default;

$tdbc-button-variants: "text", "secondary" !default;
$tdbc-link-color: #4e0069 !default;
$tdbc-border-radius: 8px !default;

$tdbc-headline-font-family: "Arbutus Slab", sans-serif;
/* stylelint-disable-next-line */
$tdbc-font-family: -apple-system, blinkmacsystemfont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto,
  noto, segoe ui, arial, sans-serif;
$tdbc-strong-font-weight: 600 !default;
$tdbc-text-font-size: 1.15rem !default;
$tdbc-lead-font-size: 1.35rem !default;
