h1,
h2,
h3 {
  font-family: $tdbc-headline-font-family;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.65em;
  font-weight: 600;
  letter-spacing: -0.02em;
}

$tdbc-type-styles: (
  h1: 4rem,
  h2: 2.5rem,
  h3: 1.75rem,
);

@function tdbc-type-size($key) {
  @return map-get($tdbc-type-styles, $key);
}

@each $level, $size in $tdbc-type-styles {
  #{$level} {
    font-size: $size;

    @if ($level == h1) {
      font-size: clamp(3.25rem, 6vw, 4rem);
    }
  }
}

h2 {
  transition: 120ms ease-in;
}

.heading-wrapper {
  display: flex;
  align-items: flex-start;

  @media (min-width: 100ch) {
    margin-left: -1.75rem;
  }

  .tdbc-anchor {
    order: -1;
    margin-right: 0.75rem;
    transition: 180ms opacity ease-in-out;
    opacity: 0.6;
    font-size: 1.75rem;

    &:hover {
      opacity: 1;
    }

    [hidden] {
      display: block;
    }
  }
}

h2,
h3 {
  &[id] {
    &:focus {
      outline: none;
    }
  }
}

h3:not(.tdbc-card *) {
  color: scale-color(tdbc-color("primary"), $lightness: -65%);
}

p,
li {
  font-size: $tdbc-text-font-size;
}

p {
  margin: 0 0 1rem;
}

.tdbc-layout--post p {
  line-height: 1.6;
}

article {
  > ul,
  > ol {
    > li + li {
      margin-top: 1rem;
    }
  }

  * {
    + h3 {
      margin-top: 2rem;
    }
  }
}

strong {
  font-weight: $tdbc-strong-font-weight;
}

a:not([class*="button"]) {
  color: $tdbc-link-color;
  text-underline-offset: 0.08em;
  transition: all 180ms ease-in-out;

  &:focus {
    outline: 2px solid currentColor;
    outline-offset: -0.05em;

    > img:only-child {
      box-shadow: 0 0 0 2px currentColor;
    }
  }

  &:hover {
    background-color: rgba($tdbc-link-color, 0.08);
  }

  code:not([class*="language"]) {
    color: inherit;
  }
}

blockquote {
  margin: 2rem 0;
  padding-left: 1rem;
  border-left: 2px dotted tdbc-color("secondary");
  color: scale-color(tdbc-color(secondary), $lightness: -35%);

  :last-child {
    margin-bottom: 0;
  }
}

code:not([class*="language"]) {
  display: inline-flex;
  padding: 0.15em;
  background-color: rgba(tdbc-color("light"), 0.5);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1.75ex;
  line-height: 1.1;
  color: tdbc-color("text");
}

pre code:not([class*="language"]) {
  width: 100%;
  max-width: calc(100vw - 2rem);
  overflow-x: auto;
}

.tdbc-lead {
  font-size: $tdbc-lead-font-size;
  letter-spacing: 0.01em;
  margin-bottom: 1em;
  line-height: 1.3;
}

.tdbc-text-center {
  text-align: center;
}

.tdbc-meta {
  font-size: 1rem;
  font-weight: 500;

  + p {
    margin-top: 1rem;
  }
}
