h1,
h2,
h3 {
  font-family: $tdbc-headline-font-family;
}

// Recommended starting point
$type-base-size: $tdbc-text-font-size;
// Select by key of map, or use a custom value
$type-size-ratio: 1.414;
// List in descending order to prevent extra sort function
$type-levels: 4, 3, 2, 1;

$type-styles: ();
$level-size: $type-base-size;
@each $level in $type-levels {
  $level-size: $level-size * $type-size-ratio;
  $type-styles: map-merge(
    $type-styles,
    (
      "h#{$level}": $level-size,
    )
  );

  // Output heading styles
  // Assign to element and create utility class
  h#{$level} {
    font-size: $level-size;
    line-height: calc(2px + 2ex + 2px);
    margin-bottom: 0.65em;
  }
}

@function tdbc-type-size($key) {
  @return map-get($type-styles, $key);
}

p,
li {
  font-size: $tdbc-text-font-size;
}

p {
  margin: 0 0 1rem;
}

article {
  > ul,
  > ol {
    > li + li {
      margin-top: 1rem;
    }
  }

  * {
    + h3 {
      margin-top: 2rem;
    }
  }
}

strong {
  font-weight: $tdbc-strong-font-weight;
}

a:not([class*="button"]) {
  color: $tdbc-link-color;
  text-decoration: none;
  position: relative;
  display: inline-block;

  &:before {
    content: "";
    width: 100%;
    height: 0.08em;
    background-color: currentColor;
    opacity: 0.65;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 180ms ease-in;
  }

  &:focus:before,
  &:hover:before {
    height: 0.35em;
    opacity: 0.25;
    bottom: 0.08em;
  }

  &:focus {
    outline: 2px solid transparent;

    &:after {
      content: "";
      position: absolute;
      top: -0.15em;
      right: -0.15em;
      bottom: 0;
      left: -0.15em;
      border-radius: 0.15em;
      box-shadow: 0 0 0 2px currentColor;
    }
  }
}

code:not([class*="language"]) {
  display: inline-flex;
  padding: 0.15em;
  background-color: rgba(tdbc-color("light"), 0.5);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 0.75em;
  line-height: 1.1;
}

pre code:not([class*="language"]) {
  width: 100%;
  max-width: calc(100vw - 2rem);
  overflow-x: auto;
}

.tdbc-lead {
  font-size: $tdbc-lead-font-size;
  letter-spacing: 0.01em;
  margin-bottom: 1em;
  line-height: 1.3;
}
