h1,
h2,
h3 {
  font-family: $tdbc-headline-font-family;
  line-height: calc(2px + 2ex + 2px);
  margin-bottom: 0.65em;
  font-weight: 600;
  letter-spacing: -0.02em;
}

$tdbc-type-styles: (
  h1: 4rem,
  h2: 2.5rem,
  h3: 2rem,
);

@function tdbc-type-size($key) {
  @return map-get($type-styles, $key);
}

@each $level, $size in $tdbc-type-styles {
  #{$level} {
    font-size: $size;
  }
}

p,
li {
  font-size: $tdbc-text-font-size;
}

p {
  margin: 0 0 1rem;
}

article {
  > ul,
  > ol {
    > li + li {
      margin-top: 1rem;
    }
  }

  * {
    + h3 {
      margin-top: 2rem;
    }
  }
}

strong {
  font-weight: $tdbc-strong-font-weight;
}

a:not([class*="button"]) {
  color: $tdbc-link-color;
  text-decoration: none;
  position: relative;
  display: inline-block;

  &:before {
    content: "";
    width: 100%;
    height: 0.08em;
    background-color: currentColor;
    opacity: 0.65;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 180ms ease-in;
  }

  &:focus:before,
  &:hover:before {
    height: 0.35em;
    opacity: 0.25;
    bottom: 0.08em;
  }

  &:focus {
    outline: 2px solid transparent;

    &:after {
      content: "";
      position: absolute;
      top: -0.15em;
      right: -0.15em;
      bottom: 0;
      left: -0.15em;
      border-radius: 0.15em;
      box-shadow: 0 0 0 2px currentColor;
    }
  }
}

code:not([class*="language"]) {
  display: inline-flex;
  padding: 0.15em;
  background-color: rgba(tdbc-color("light"), 0.5);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 0.75em;
  line-height: 1.1;
}

pre code:not([class*="language"]) {
  width: 100%;
  max-width: calc(100vw - 2rem);
  overflow-x: auto;
}

.tdbc-lead {
  font-size: $tdbc-lead-font-size;
  letter-spacing: 0.01em;
  margin-bottom: 1em;
  line-height: 1.3;
}

.tdbc-meta {
  font-size: 1rem;
  font-weight: 500;
}

blockquote {
  margin: 2rem 0;
  padding-left: 1rem;
  border-left: 2px dotted tdbc-color("secondary");
  color: scale-color(tdbc-color(secondary), $lightness: -25%);

  :last-child {
    margin-bottom: 0;
  }
}
