---
permalink: feed/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ meta.siteName }}</title>
	<subtitle>{{ meta.siteDescription }}</subtitle>
	{% set absoluteUrl %}{{ '/feed/' | url | absoluteUrl(meta.url) }}{% endset %}
	<link href="{{ absoluteUrl }}" rel="self"/>
	<link href="{{ meta.url }}"/>
	<updated>{{ collections.all | rssLastUpdatedDate }}</updated>
	<id>{{ meta.url }}/</id>
	<author>
		<name>{{ meta.authorName }}</name>
	</author>
	{%- for item in collections.all | reverse %}
	{% set absolutePostUrl %}{{ item.url | url | absoluteUrl(meta.url) }}{% endset %}
	{% set itemLink %}{% if item.data.link %}{{ item.data.link }}{% else %}{{absolutePostUrl}}{% endif %}{% endset %}
	<entry>
		<title>{{ item.data.title  }}</title>
		<link href="{{ itemLink | htmlToAbsoluteUrls(absolutePostUrl) }}"/>
		<updated>{{ item.date | rssDate }}</updated>
		<id>{{ itemLink | htmlToAbsoluteUrls(absolutePostUrl) }}</id>
		<content type="html">{{ item.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}{%- if item.data.linkText %}&lt;a href=&quot;{{ itemLink | htmlToAbsoluteUrls(absolutePostUrl) }}&quot;&gt;{{ item.data.linkText }}&lt;/a&gt;{% endif -%}</content>
	</entry>
	{%- endfor %}
</feed>