---
permalink: feed/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ meta.siteName }}</title>
	<subtitle>{{ meta.siteDescription }}</subtitle>
	{% set absoluteUrl %}{{ '/feed/' | url | absoluteUrl(meta.url) }}{% endset %}
	<link href="{{ absoluteUrl }}" rel="self"/>
	<link href="{{ meta.url }}"/>
	<updated>{{ collections.resources | rssLastUpdatedDate }}</updated>
	<id>{{ meta.url }}</id>
	<author>
		<name>{{ meta.authorName }}</name>
	</author>
	{%- for resource in collections.resources %}
	{% set absolutePostUrl %}{{ page.url | url | absoluteUrl(meta.url) }}{% endset %}
	<entry>
		<title>{{ resource.data.title  }}</title>
		<link href="{{ resource.data.link }}"/>
		<updated>{{ resource.date | rssDate }}</updated>
		<id>{{ resource.data.link }}</id>
		<content type="html">{{ resource.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
	</entry>
	{%- endfor %}
</feed>